
@{
    Layout = null;
    var DetailCategory = ViewBag.DetailCategory;
}
<input type="hidden" value="@DetailCategory.Id" id="IdDanhMuc"/>
<div class="row">
    <div class="col-xxl-6 col-md-12">
        <div>
            <label for="basiInput" class="form-label">Tiêu đề</label>
            <input type="text" class="form-control" id="txtTieuDeSua" value="@DetailCategory.Title">
        </div>
    </div>
    <div class="col-xxl-6 col-md-12">
        <div>
            <label for="basiInput" class="form-label">Slug</label>
            <input type="text" class="form-control" id="txtSlugSua" value="@DetailCategory.Slug">
        </div>
    </div>
</div>
<script>
    function DetailCategorySave(Id) {
        loading();
        $.post("/Admin/Category/DetailCategorySave", { "Id": parseInt($("#IdDanhMuc").val()), "Title": $("#txtTieuDeSua").val(), "Slug": $("#txtSlugSua").val() }, function (data) {
            if (data.icon == "success") {
                window.location.href = "/Admin/Home/index";
            } else {
                debugger;
                ToastMessage("Có lỗi", data.message, data.icon, 'warning')
            }
            offLoading();
        });
    }
</script>